@import '../../assets/styles/functions.scss';

.result-box {
  background-color: var(--grey);
  border-radius: 24px;
  padding: 62px;
  position: absolute;
  width: 65%;
  left: 17.5%;
  margin-bottom: 48px;

  @include desktop-ultra() {
    width: 50%;
    left: 25%;
  }

  @include desktop-big() {
    width: 65%;
    left: 17.5%;
  }

  @include desktop-middle() {
    width: 70%;
    left: 15%;
  }

  @include desktop-small() {
    width: 80%;
    left: 10%;
  }

  @include mobal() {
    width: 85%;
    left: 7.5%;
    padding: 24px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .view-mode {
      display: flex;
      justify-content: center;
      width: 100%;
      .active {
        color: var(--primary-color) !important;
      }
      .icon {
        font-size: 3em;
        color: #afafaf;
        padding: 0 12px;
        transition: var(--transition-default);
        &:hover {
          cursor: pointer;
          color: var(--primary-color);
        }
        &:last-child {
          border-left: 2px solid #c7c7c7;
        }
      }
    }
    .close {
      position: absolute;
      right: 0px;
      transition: var(--transition-default);
      .icon {
        font-size: 1.5em;
        color: var(--primary-color);
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .footer {
    display: flex;
    margin-top: 32px;
    justify-content: flex-end;
    align-items: center;
    .pagination {
      list-style: none;
      display: flex;
      li {
        padding: 8px;
        margin: 4px;
        color: #565656;
        font-size: large;
        font-weight: bold;
        transition: var(--transition-default);
        border: 2px solid #f8f8f8;
        border-radius: 20px;
        &:hover {
          color: #1074e7;
          cursor: pointer;
        }

        a:focus {
          outline: none;
        }

        @include mobal() {
          font-size: small;
        }
      }
      .disabled {
        opacity: 0.6;
      }
      .active {
        color: #1074e7;
        font-weight: bold;
        border-bottom: 2px solid;
        border-top: 2px solid;
      }
    }
  }

  .content {
    hr {
      border: 2px solid #ececec;
      margin: 24px 0;
    }

    .counter {
      display: flex;
      justify-content: space-between;
      margin: 26px 0;
    }

    .view-grid {
      grid-template-columns: 1fr 1fr !important;
      @include mobal() {
        grid-template-columns: 1fr !important;
      }
    }

    .view-list {
      grid-template-columns: 1fr !important;
    }

    .list {
      position: relative;
      display: grid;
      gap: 12px;
      transition: var(--transition-default);

      .item {
        background-color: #ffff;
        border-radius: 12px;
        padding: 24px;
        border: 2px solid #f1f1f1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: var(--transition-default);
        position: relative;
        overflow: hidden;

        .link-overlay {
          position: absolute;
          left: -3000px;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: var(--primary-color);
          border-color: var(--primary-color);
          top: 0;
          color: #ffffff;
          transition: 400ms ease-in-out;
          cursor: pointer;

          svg {
            font-size: 3em;
          }
          p {
            font-size: 1em;
            margin-top: 8px;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }

        &:hover {
          cursor: pointer;
          .link-overlay {
            left: 0;
          }
        }
        .title {
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          svg {
            font-size: 3em;
            color: var(--primary-color);
            margin-left: -10px;
            margin-right: 12px;
            text-align: left;
          }
          h2 {
            font-size: 1.5em;
            small {
              display: block;
              font-size: 70%;
              font-weight: 100;
              margin-top: -4px;
            }
          }
        }
        .description {
          margin-bottom: 16px;
          padding-left: 10px;
          border-left: 4px solid #eaeaea;
          p {
            font-style: italic;
            font-size: 90%;
          }
        }
        .features {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-flow: wrap;
          .icon-group {
            display: flex;
            align-items: center;
            margin: 2px 4px;
            svg {
              margin-right: 6px;
              color: #bbbbbb;
              font-size: 16px;
            }
            .star {
              color: #ffb100;
            }
            .issue {
              color: #d40000;
            }
          }
        }
      }
    }
  }
}
