:root {
  --primary-color: #1074e7;
  --default-color: #2d2d2d;
  --grey: #f8f8f8;
  --transition-default: all 0.3s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--default-color);
  -webkit-font-smoothing: antialiased;
  color: var(--default-color);
}

body,
input,
button {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--default-color);
  font-family: 'Open Sans Condensed', sans-serif;
}
